{% extends 'registers/base.html' %}
{% block title %}Counterparties{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'registers/css/style.css' %}">

<div class="container">
    <div class="row d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="col-md-12"></div>
        <div class="col-md-10">
            <H1>Counterparties</H1>
        </div>
        <div class="col-md-2">
            <a href="{% url 'counterparty_add' %}" class="btn btn-info" name="btn_add">ADD NEW</a>
        </div>
    </div>
    <br>
    <div class="row p-1 g-1">
        <div class="table-responsive" style="height: 500px">
            <table class="table table-condensed table-scroll table-striped ">
                <tr>
                    <th align="center">Counterparty</th>
                    <th align="center">Supplier</th>
                    <th align="center">Customer</th>
                    <th align="center">Employee</th>
                    <th align="center">Other</th>
                    <th align="center">Comments</th>
                    <th align="center"></th>
                </tr>
                {% for i in counterparties %}
                <tr>
                    <td width="100">{{i.counterparty}}</td>
                    <td width="10" align="center">{% if i.suppliers %}<i class="bi bi-check2-square"></i>{% endif %}
                    </td>
                    <td width="10" align="center">{% if i.customer %}<i class="bi bi-check2-square"></i>{% endif %}</td>
                    <td width="10" align="center">{% if i.employee %}<i class="bi bi-check2-square"></i>{% endif %}</td>
                    <td width="10" align="center">{% if i.other %}<i class="bi bi-check2-square"></i>{% endif %}</td>
                    <td width="100">{% if i.comments is not None %}{{i.comments}}{% endif %}</td>
                    <td width="80" align="center">
                        <a href="{% url 'counterparty_id' i.id %}" class='btn btn-info btn-xs' data-bs-toggle="tooltip"
                           data-bs-placement="top" title="edit"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'counterparty_del' i.id %}" class='btn btn-info btn-xs' data-bs-toggle="tooltip"
                           data-bs-placement="top" title="delete"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}



