{% extends 'registers/base.html' %}
{% block title %}Currencies{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="col-md-12"></div>
        <div class="col-md-10">
            <H1>Currencies</H1>
        </div>
        <div class="col-md-2">
            <a href="{% url 'currency_add' %}" class="btn btn-info" name="btn_add">ADD NEW</a>
        </div>
    </div>
    <br>
    <div class="row p-1 g-1">
        <div class="table-responsive" style="height: 500px">
            <table class="table table-sm table-scroll table-striped table-bordered" >
                <tr>
                    <th align="center">Currencies</th>
                    <th align="center">Code</th>
                    <th align="center">Edit  |  Del</th>
                </tr>
                {% for i in currencies %}
                <tr>
                    <td width="300">{{i.currency}}</td>
                    <td width="300">{{i.code}}</td>
                    <td width="10" align="center">
                        <a href="{% url 'currency_id' i.id %}" class='btn btn-info btn-sm'><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'currency_del' i.id %}" class='btn btn-info btn-sm'><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

