{% extends 'registers/base.html' %}
{% block title %}Income items{% endblock %}
{% load crispy_forms_tags %}
{% block content %}



<div class="container">
    <div class="row d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="col-md-12"></div>
        <div class="col-md-10">
            <H1>Income items</H1>
        </div>
        <div class="col-md-2">
            <a href="{% url 'income_item_add' %}" class="btn btn-info" name="btn_add">ADD NEW</a>
        </div>
    </div>
    <br>
        <div class="row p-1 g-1">
            <div class="table-responsive" style="height: 550px">
                <table class="table table-condensed table-scroll table-striped" >
                    <tr>
                        <th align="center">Income items</th>
                        <th align="center">Income groups</th>
                        <th align="center"></th>
                    </tr>
                    {% for i in income_items %}
                    <tr>
                        <td width="300">{% if not i.code is None %}{{ i.name | add:" *" }}{% else %}{{ i.name }}{% endif %}</td>
                        <td width="300">{{i.get_group_display}}</td>
                        <td width="10" align="center">
                            <a href="{% url 'income_item_id' i.id %}" class='btn btn-info btn-xs' data-bs-toggle="tooltip"
               data-bs-placement="top" title="edit"><i class="bi bi-pencil-square"></i></a>
                            <a href="{% url 'item_del' i.id %}" class='btn btn-info btn-xs' data-bs-toggle="tooltip"
               data-bs-placement="top" title="edit"><i class="bi bi-trash3"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}
