<table class="table table-condensed table-scroll table-striped" id="id_table" >
    <tr>
        <th align="center">code</th>
        <th align="center">name</th>
        <th align="center">group</th>
        <th align="center">flow</th>
        <th align="center">activity</th>
        <th align="center"></th>
    </tr>
    {% for i in object_list %}
    <tr>
        <td width="200">{% if not i.code is None %}{{i.code}}{% endif %}</td>
        <td width="200">{% if not i.code is None %}{{ i.name | add:" *" }}{% else %}{{ i.name }}{% endif %}</td>
        <td width="150">{{ i.get_group_display }}</td>
        <td width="150">{{ i.get_flow_display }}</td>
        <td width="150">{% if not i.activity is None %}{{i.get_activity_display}}{% endif %}</td>
        <td width="10" align="center" style='white-space: nowrap'>
            <a href="{% url 'item_id' i.id %}" class='btn btn-info btn-xs' data-bs-toggle="tooltip"
               data-bs-placement="top" title="edit"><i class="bi bi-pencil-square"></i></a>
            <a href="{% url 'item_del' i.id %}" class='btn btn-info btn-xs' data-bs-toggle="tooltip"
               data-bs-placement="top" title="delete"><i class="bi bi-trash3"></i></a>
         </td>
    </tr>
    {% endfor %}
</table>