{% extends 'registers/base.html' %}
{% block title %}Delete item{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row h-100 p-2 g-3 justify-content-center" >
        <div class="col-md-8 border p-3 shadow">
             <form method="post">
                 {% csrf_token %}
                 {% if error %}
                    {{ error }}
                    {% else %}
                 {% if object.code is None %}
                 <h3>Are you sure you want to delete</h3>
                 <h3>item: "{{ object }}"</h3>
                 {% else %}
                 <h3>"{{ object }}"</h3>
                 <h3>is a system accounting item and cannot be deleted.</h3>
                 {% endif %}
                 <br>
                 <div class="row">
                    <div class="col-md-2">
                        {% if object.code is None %}
                            <button class="btn btn-info" type="submit" name="btn_del">DELETE</button>
                        {% endif %}
                    </div>
                    <div class="col-md-2">
                        <a href="/items" class='btn btn-info'>CANCEL</a>
                    </div>
                    {% endif %}
                 </div>
             </form>
        </div>
    </div>
</div>
{% endblock %}