{% extends 'registers/base.html' %}
{% block title %} Organizations {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'registers/css/style.css' %}">

<div class="container">
    <div class="row d-grid gap-2 d-md-flex justify-content-md-end text-center">
        <div class="col-md-12"></div>
        <div class="col-md-7">
            <H1>Organizations</H1>
        </div>
        <div class="col-md-4">
            <a href="{% url 'organization_add' %}" class="btn btn-info" name="btn_add">ADD NEW</a>
        </div>
    </div>
    <br>
    <div class="row p-1 g-1">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="table-responsive" style="height: 500px">
                <table class="table table-condensed table-scroll table-striped">
                    <tr>
                        <th align="center">Organizations</th>
                        <th align="center">Comments</th>
                        <th align="center"></th>
                    </tr>
                    {% for i in organizations %}
                    <tr>
                        <td width="400">{{i.organization}}</td>
                        <td width="400">{% if not i.comments is None %}{{i.comments}}{% endif %}</td>
                        <td width="100" align="center">
                            <a href="{% url 'organization_id' i.id %}" class='btn btn-info btn-xs'
                               data-bs-toggle="tooltip"
                               data-bs-placement="top" title="edit"><i class="bi bi-pencil-square"></i></a>
                            <a href="{% url 'organization_del' i.id %}" class='btn btn-info btn-xs'
                               data-bs-toggle="tooltip"
                               data-bs-placement="top" title="delete"><i class="bi bi-trash3"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}