{% extends 'registers/base.html' %}
{% block title %}Organization{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 border p-2 shadow">
            <form  method='POST'>
                <div class="col-md-10">
                    <h2>Add new organization</h2>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="col-md-12">
                        <button class="btn btn-info" type="submit" name="btn_add">SAVE</button>
                        <a href="/organizations" class='btn btn-info'>CANCEL</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}