{% extends 'registers/base.html' %}
{% block title %} Organizations {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-4 border p-2 shadow">
            <form  method='POST'>
                <div class="col-md-10">
                    <h2>Organization</h2>
                    {% csrf_token %}
                    {{ form_org|crispy }}
                </div>
            </form>
        </div>
        <div class="col-md-8 border p-2 shadow">
            <div class="row p-1 g-1">
                <h3>Payment accounts for organization</h3>
                <a href="/payment_accounts_add" class='btn btn-info' name="orgcart">ADD NEW ACCOUNT</a>
                <br>
                <div class="table-responsive" style="height: 250px">
                    <table class="table table-sm table-scroll table-striped table-bordered" >
                        <tr>
                            <th align="center">Payment accounts</th>
                            <th align="center">Currency</th>
                            <th align="center">is_cash</th>
                            <th align="center">Comments</th>
                            <th align="center">Edit | Del</th>
                        </tr>
                        {% for i in accounts %}
                        <tr>
                            <td width="100">{{i.account}}</td>
                            <td width="100">{{i.currency}}</td>
                            <td width="10" align="center">{% if i.is_cash %}<i class="bi bi-check2-square"></i>{% endif %}</td>
                            <td width="100">{{i.comments}}</td>
                            <td width="100" align="center">
                                <a href="#" class='btn btn-info btn-sm'><i class="bi bi-pencil-square"></i></a>
                                <a href="{% url 'project_del' i.id %}" class='btn btn-info btn-sm'><i class="bi bi-basket2-fill"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row p-1 g-1">
                <h3>Projects for organization</h3>
                <a href="/projects_add" class='btn btn-info' name="orgcart">ADD NEW PROJECT</a>
                <br>
                <div class="table-responsive" style="height: 250px">
                    <table class="table table-sm table-scroll table-striped table-bordered" >
                        <tr>
                            <th align="center">Projects</th>
                            <th align="center">Comments</th>
                            <th align="center">Edit | Del</th>
                        </tr>
                        {% for i in projects %}
                        <tr>
                            <td width="100">{{i.project}}</td>
                            <td width="200">{{i.comments}}</td>
                            <td width="30" align="center">
                                <a href="#" class='btn btn-info btn-sm'><i class="bi bi-pencil-square"></i></a>
                                <a href="{% url 'project_del' i.id %}" class='btn btn-info btn-sm'><i class="bi bi-basket2-fill"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
{% endblock %}