{% extends 'registers/base.html' %}
{% block title %}Payment accounts{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'registers/css/style.css' %}">

<div class="container">
    <div class="row d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="col-md-12"></div>
        <div class="col-md-10">
            <H1>Payment accounts</H1>
        </div>
        <div class="col-md-2">
            <a href="{% url 'payment_account_add' %}" class="btn btn-info" name="btn_add">ADD NEW</a>
        </div>
    </div>
    <br>
    <div class="row p-1 g-1">
        <div class="table-responsive" style="height: 500px">
            <table class="table table-sm table-scroll table-striped table-bordered" >
                <tr>
                    <th align="center">Organizations</th>
                    <th align="center">Payment account</th>
                    <th align="center">Currency</th>
                    <th align="center">is_cash</th>
                    <th align="center">Opening date</th>
                    <th align="center">Opening balance</th>
                    <th align="center">Comments</th>
                    <th align="center">Edit  |  Del</th>
                </tr>
                {% for i in accounts %}
                <tr>
                    <td width="100">{{i.organization}}</td>
                    <td width="100">{{i.account}}</td>
                    <td width="100">{{i.currency}}</td>
                    <td width="10" align="center">{% if i.is_cash %}<i class="bi bi-check2-square"></i>{% endif %}</td>
                    <td width="60">{{i.open_date|date:"d.m.Y"}}</td>
                    <td width="60" align="right">{{i.open_balance}}</td>
                    <td width="100">{% if i.comments != None %}{{i.comments}}{% endif %}</td>
                    <td width="60" align="center">
                        <a href="{% url 'payment_account_id' i.id %}" class='btn btn-info btn-sm'><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'payment_account_del' i.id %}" class='btn btn-info btn-sm'><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}



