{% extends 'registers/base.html' %}
{% block title %}Import rates{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row"><h3>Exchange rates will be imported from the website www.currency.me.uk for today</h3>
        <br>
        <div class="col-md-4 border p-2 shadow">
            <form  method='POST'>
                <div class="col-md-10">
                    <h4>Select currencies:</h4>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="col-md-12">
                        <button class="btn btn-info" type="submit" name="btn_add">IMPORT</button>
                        <a href="/rates" class='btn btn-info'>CANCEL</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

