{% extends 'registers/base.html' %}
{% block title %}New calculation{% endblock %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}

<div class="container-fluid px-10">
    <form  method='POST'>
        {% csrf_token %}
        <div class="row text-center">
            <div class="col-md-4 border p-2 shadow"><h1>New calculation</h1></div>
            <div class="col-md-8 border p-2 shadow"><H3>List of payment documents</H3></div>
        </div>
        <div class="row">
            <div class="col-md-2 border p-2 shadow">
                <div class="form-group">
                    {{ form.name|as_crispy_field }}
                    {{ form.flow|as_crispy_field }}
                    {% if  form.type_calc == '' %}
                        {{ form.name.as_hidden }}
                    {% endif %}
                </div>
                <div id="div_id_organization"
                     class="form-group"
                     hx-get="/calculations/projects"
                     hx-vals="js:{organization:document.getElementById('id_organization').value}"
                     hx-trigger="change"
                     hx-target="#id_project">
                {% render_field form.organization class="select form-control" hx-get="/calculations/projects" hx-trigger="change" hx-target="#id_account" %}
                </div>
                <div class="form-group">{% render_field form.counterparty class="select form-control" %}</div>
                <div class="form-group">{% render_field form.project class="select form-control" %}</div>
                <div class="form-group">{% render_field form.item class="select form-control" %}</div>
                <div class="form-group">{% render_field form.comments class="select form-control" %}</div>
            </div>
            <div class="col-md-2">
                    {{ form.type_calc|as_crispy_field }}
                    {{ form.loan_rate|as_crispy_field }}
                    {{ form.amount|as_crispy_field }}
                <div class="row text-left">
                    <div class="col-md-8 form-group">{% render_field form.currency class="select form-control" %}</div>
                    <div class="col-md-4 form-group">{{ form.is_cash|as_crispy_field }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">{{ form.term|as_crispy_field }}</div>
                    <div class="col-md-6 form-group">{{ form.frequency|as_crispy_field }}</div>
                </div>
                    {{ form.date_first|as_crispy_field }}
                </div>
            <div class="col-md-8">
                <div class="table-responsive" style="height: 450px">
                    {% include "planning/calc_to_plan_list.html" %}
                </div>
            </div>
        </div>
            <div class="row text-center">
                <div class="col-md-4">
<!--                    <button class="btn btn-warning" type="submit" name="btn_save">SAVE</button>-->
                    <button class="btn btn-warning" type="submit" name="btn_create">SAVE AND CREATE PLAN</button>
                    {% if object.id %}
                    <a href="{% url 'calculation_delete_plan' object.id %}" class='btn btn-warning'>DELETE ALL</a>
                    {% endif %}
                    <a href="/calculations" class='btn btn-warning'>CANCEL</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}