
/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }


th {
  background: #F5F5F5;
  position: sticky;
  padding: 20px;
  top: 0;
}

td {
  padding: 13px;
  font-size: 13px;
}

/* footer sticky ??? */
tfoot{
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 100px;
}

