/* head sticky */
th {
  background: #F5F5F5;
  position: sticky;
  padding: 20px;
  top: 0;
}

td {
  padding: 13px;
  font-size: 13px;
}

/* footer sticky */
tfoot {
  width: 100%;
  background: #F5F5F5;
  padding: 20px;
  position: sticky;
  bottom: 0;
  height: 0px;
}

