{% extends 'registers/base.html' %}
{% block title %}Change payment account{% endblock %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}

<div class="container-fluid px-10">
    <div class="row">
        <div class="col-md-1 border p-2 shadow"></div>
        <form action="" method="GET"
              hx-get="/payments/list"
            hx-trigger="change"
            hx-target="#id_table">
        <div class="col-md-2 border p-2 shadow">
            <br><br>
            <h4>FILTER</h4>
            {% csrf_token %}


            <div id="div_id_organization"
                 class="form-group"
                 hx-get="/change_payaccount/account1"
                 hx-vals="js:{organization:document.getElementById('id_organization').value}"
                 hx-trigger="change"
                 hx-target="#id_table">
                {{ form.organization.label_tag }}
                {% render_field form.organization class="select form-control" %}
            </div>
            <div class="form-group">
                {{ form.pay_account_from.label_tag }}
                {% render_field form.pay_account_from class="select form-control" %}
            </div>
            <div class="form-group">
                {{ form.date.label_tag }}
                {% render_field form.date class="select form-control" %}
            </div>
            <div class="form-group">
                {{ form.date_end.label_tag }}
                {% render_field form.date_end class="select form-control" %}
            </div>
            <br>
            <div hx-get="/change_payaccount/list" hx-trigger="click" hx-target="#id_table">
                <button class="btn btn-info" type="reset" name="btn_reset" >RESET FILTERS</button>
            </div>
        </div>

            <div class="col-md-8 border p-2 shadow">
                <div class="row d-grid gap-2 d-md-flex justify-content-md-end">
                    <div class="col-md-10 fw-bold"><H2>Change payment account</H2></div>
                    <div class="col-md-1">
                        <a href="{% url 'change_payaccount_add' %}" class="btn btn-info" name="btn_add">ADD NEW</a>
                    </div>
                </div>
                <br>
                <div class="table table-hover table-responsive" style="height: 550px">
                    {% include "payments/change_payaccount_list.html" %}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
