{% extends 'registers/base.html' %}
{% block title %}Expense groups{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}


<div class="container">
    <div class="row d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="col-md-12"></div>
        <div class="col-md-10">
            <H1>Expense groups</H1>
        </div>
        <div class="col-md-2">
            <a href="{% url 'expenses_group_add' %}" class="btn btn-info" name="btn_add">ADD NEW</a>
        </div>
    </div>
    <br>
    <div class="row p-1 g-1">
        <div class="table-responsive" style="height: 550px">
            <table class="table table-sm table-scroll table-striped table-bordered" >
                <tr>
                    <th align="center">Type of cash flow</th>
                    <th align="center">Expense groups</th>
                    <th align="center">Comments</th>
                    <th align="center">Edit  |  Del</th>
                </tr>
                {% for i in expense_groups %}
                <tr>
                    <td width="200">{{i.type_cf}}</td>
                    <td width="200">{{i.expense_group}}</td>
                    <td width="200">{% if i.comments != None %}{{i.comments}}{% endif %}</td>
                    <td width="10" align="center">
                        <a href="{% url 'expenses_group_id' i.id %}" class='btn btn-info btn-sm'><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'expenses_group_delete' i.id %}" class='btn btn-info btn-sm'><i class="bi bi-basket2-fill"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}



