{% extends 'registers/base.html' %}
{% block title %}Series of payment requests{% endblock %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}

<div class="container-fluid px-10">
    <form  method='POST'>
        {% csrf_token %}
        <div class="row text-center">
            <h2>New series of constant payments</h2>
            <br>
            <div class="col-md-3 border p-2 shadow"></div>
            <div class="col-md-3 border p-2 shadow">
                <div class="form-group">
                    {% render_field form.name class="select form-control" %}
                </div>
                <div class="form-group">
                    {% render_field form.type_calc class="select form-control" %}
                </div>
                <div id="div_id_organization"
                     class="form-group"
                     hx-get="/payments_plan/series/projects"
                     hx-vals="js:{organization:document.getElementById('id_organization').value}"
                     hx-trigger="change"
                     hx-target="#id_project">
                {% render_field form.organization class="select form-control" hx-get="/payments_plan/series/project" hx-trigger="change" hx-target="#id_account" %}
                </div>
                <div class="form-group">
                    {% render_field form.counterparty class="select form-control" %}
                </div>
                <div class="form-group">
                    {% render_field form.project class="select form-control" %}
                </div>
                <div class="form-group">
                    {% render_field form.item class="select form-control" %}
                </div>
            </div>

            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-6 form-group">{{ form.date_first|as_crispy_field }}</div>
                    <div class="col-md-6 form-group">{{ form.amount|as_crispy_field }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">{{ form.frequency|as_crispy_field }}</div>
                    <div class="col-md-6 form-group">{{ form.term|as_crispy_field }}</div>
                </div>
                <div class="row text-left">
                    <div class="col-md-8 form-group">{% render_field form.currency class="select form-control" %}</div>
                    <div class="col-md-4 form-group">{{ form.is_cash|as_crispy_field }}</div>
                </div>
                <div  class="form-group">{% render_field form.comments class="select form-control" %}</div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-warning" type="submit" name="btn_save">SAVE ALL</button>
                        <a href="/payments_plan" class='btn btn-warning'>CANCEL</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}