
<table class="table table-condensed table-scroll table-striped" id="id_table" >
    <tr>
        <th align="center">organization</th>
        <th align="center">account</th>
        <th align="center">date</th>
        <th align="center">amount</th>
        <th align="center">currency</th>
        <th align="center">counterparty</th>
        <th align="center">item</th>
        <th align="center">project</th>
        <th align="center">by request</th>
        <th align="center">comments</th>
        <th align="center"></th>
    </tr>
    {% for i in object_list %}
    <tr>
        <td width="100">{{i.organization}}</td>
        <td width="200">{{i.account}}</td>
        <td width="50">{{i.date|date:"d.m.Y"}}</td>
        <td width="50" align="right">{{i.outflow_amount}}</td>
        <td width="50">{{i.currency}}</td>
        <td width="200">{{i.counterparty}}</td>
        <td width="200">{{i.item}}</td>
        <td width="100">{% if i.project != None %}{{ i.project }}{% endif %}</td>
        <td width="100">{% if i.by_request != None %}{{ i.by_request }}{% endif %}</td>
        <td width="200">{% if i.comments != None %}{{ i.comments }}{% endif %}</td>
        <td width="10" align="center" style='white-space: nowrap'>
            <a href="{% url 'payments_id' i.id %}" class='btn btn-info btn-xs' data-bs-toggle="tooltip"
               data-bs-placement="top" title="edit"><i class="bi bi-pencil-square"></i></a>
            <a href="{% url 'payments_copy' i.id %}" class='btn btn-info btn-xs' data-bs-toggle="tooltip"
               data-bs-placement="top" title="copy"><i class="bi bi-files"></i></a>
            <a href="{% url 'payments_delete' i.id %}" class='btn btn-info btn-xs' data-bs-toggle="tooltip"
               data-bs-placement="top" title="delete"><i class="bi bi-trash3"></i></a>
         </td>
    </tr>
    {% endfor %}
</table>