

<table class='table table-fixed table-condensed table-scroll table-striped' id="id_table">
    <thead>
        <tr>
            <th align="center">organization</th>
            <th align="center">account</th>
            <th align="center">date</th>
            <th align="center">amount</th>
            <th align="center">currency</th>
            <th align="center">counterparty</th>
            <th align="center">item</th>
            <th align="center">project</th>
            <th align="center">comments</th>
            <th align="center"></th>
        </tr>
    </thead>
    <tbody class="cart">
        {% for i in object_list %}
        <tr>
            <td data-type="string" width="100">{{i.organization}}</td>
            <td data-type="string" width="200">{{i.account}}</td>
            <td data-type="number" width="50">{{i.date|date:"d.m.Y"}}</td>
            <td data-type="number" width="50" align="right">{{i.inflow_amount}}</td>
            <td data-type="string" width="50">{{i.currency}}</td>
            <td data-type="string" width="200">{{i.counterparty}}</td>
            <td data-type="string" width="200">{{i.item}}</td>
            <td data-type="string" width="100">{% if i.project != None %}{{ i.project }}{% endif %}</td>
            <td data-type="string" width="200">{% if i.comments != None %}{{ i.comments }}{% endif %}</td>
             <td width="10" align="center" style='white-space: nowrap'>
                <a href="{% url 'receipts_id' i.id %}" class='btn btn-info btn-xs' data-bs-toggle="tooltip"
               data-bs-placement="top" title="edit"><i class="bi bi-pencil-square"></i></a>
                <a href="{% url 'receipts_copy' i.id %}" class='btn btn-info btn-xs' data-bs-toggle="tooltip"
               data-bs-placement="top" title="copy"><i class="bi bi-files"></i></a>
                <a href="{% url 'receipts_delete' i.id %}" class='btn btn-info btn-xs' data-bs-toggle="tooltip"
               data-bs-placement="top" title="delete"><i class="bi bi-trash3"></i></a>
             </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

