
<table class="table table-sm table-scroll table-striped" id="id_table" >
    <tr>
        <th align="center">organization</th>
        <th align="center">project</th>
        <th align="center">item</th>
        <th align="center">counterparty</th>
        <th align="center">date</th>
        <th align="center">amount</th>
        <th align="center">currency</th>
        <th align="center">is_cash</th>
        <th align="center">calculation</th>
        <th align="center">comments</th>
    </tr>
    {% for i in object_list %}
    <tr>
        <td width="50">{{i.organization}}</td>
        <td width="100">{% if i.project != None %}{{ i.project }}{% endif %}</td>
        <td width="100">{{i.item}}</td>
        <td width="100">{{i.counterparty}}</td>
        <td width="50">{{i.date|date:"d.m.Y"}}</td>
        <td width="50" align="right">{{i.amount}}</td>
        <td width="50">{{i.currency}}</td>
        <td width="100">{% if i.is_cash %}<i class="bi bi-check2-square"></i>{% endif %}</td>
        <td width="50">{% if i.name_series != None %}{{ i.name_series }}{% endif %}</td>
        <td width="100">{% if i.comments != None %}{{ i.comments }}{% endif %}</td>
    </tr>
    {% endfor %}
</table>