{% extends 'registers/base.html' %}
{% block title %}Account balances report{% endblock %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}

<div class="container-fluid px-10">
    <div class="row-fluid">
        <form action="" method="GET"
            hx-get="/account_balances/list"
            hx-trigger="change"
            hx-target="#id_table">
            <div class="col-md-2 border p-2 shadow">
                <br>
                <br>
                <h4>FILTER</h4>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.organization.label_tag }}
                    {% render_field form.organization class="select form-control" %}
                </div>
                <div class="form-group">
                    {{ form.currency.label_tag }}
                    {% render_field form.currency class="select form-control" %}
                </div>
                <div class="form-group">
                    {{ form.is_cash|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.date_start.label_tag }}
                    {% render_field form.date_start class="select form-control" %}
                </div>
                <div class="form-group">
                    {{ form.date_end.label_tag }}
                    {% render_field form.date_end class="select form-control" %}
                </div>
                <hr>
                <div hx-get="/account_balances/list" hx-trigger="click" hx-target="#id_table">
                    <button class="btn btn-info" type="reset" name="btn_reset" >RESET FILTERS</button>
                </div>
            </div>
            <div class="col-md-1 border shadow"></div>
            <div class="col-md-8 border shadow">
                <h1>Account balances</h1>
                <div class="table-responsive" style="height: 550px">
                    {% include "registers/account_balances_list.html" %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}