{% extends 'registers/base.html' %}
{% block title %}Account balances{% endblock %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}

<div class="container-fluid px-10">
    <div class="row-fluid">
        <form method="GET">
            <div class="col-md-2 border p-2 shadow">
                <h3>Filters:</h3>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="col-md-12">
                    <button class="btn btn-info" type="submit">SHOW | RESET</button>
<!--                    <button class="btn btn-info" type="reset" name="btn_reset" >RESET</button>-->
                </div>
            </div>
        </form>
        <div class="col-md-1 border shadow"></div>
        <div class="col-md-8 border shadow">
            <h1>Accounting balances</h1>
            <div class="table-responsive" style="height: 350px">
                <table class="table table-sm table-scroll table-striped" id="id_table" >
                    <tr>
                        <th align="center">organization</th>
                        <th align="center">account</th>
                        <th align="center">currency</th>
                        <th align="center">is cash</th>
<!--                        <th align="center">opening balance</th>-->
<!--                        <th align="center">income</th>-->
<!--                        <th align="center">payments</th>-->
<!--                        <th align="center">closing balance</th>-->
                    </tr>
                    {% for i in accounts %}
                    <tr>
                        <td width="200">{{i.organization}}</td>
                        <td width="200">{{i.account}}</td>
                        <td width="100">{{i.currency}}</td>
                        <td width="100" align="center">{% if i.is_cash %}<i class="bi bi-check2-square"></i>{% endif %}</td>
<!--                        <td width="10">{{i.open_balance}}</td>-->
<!--                        <td width="10" align="right">{{i.open_balance}}</td>-->
<!--                        <td width="10" align="right">{{i.open_balance}}</td>-->
<!--                        <td width="10" align="right">{{i.open_balance}}</td>-->
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <h3>Totals in conversion currency</h3>
            <div class="table-responsive" style="height: 100px">
                <h5>total results</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}