<style>
  th {
  background: #F5F5F5;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  }
</style>

<table class="table table-sm table-scroll table-striped" id="id_table" >
    <tr>
        <th align="center">account</th>
        <th align="center">currency</th>
        <th align="center">opening balance</th>
        <th align="center">income</th>
        <th align="center">payments</th>
        <th align="center">closing balance</th>
    </tr>
    {% for i in payments_queryset %}
    <tr>
        <td width="300">{{i.account}}</td>
        <td width="200">{{i.currency}}</td>
        <td width="10">{{i.amount}}</td>
        <td width="10">{{i.sum_payment}}</td>
        <td width="10">{{i.sum_income}}</td>
        <td width="10">{{i.amount}}</td>
    </tr>
    {% endfor %}
</table>