{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <!-- Bootstrap Optional theme and icons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!--  Google charts-->
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <!--  Sweetalert2 (modal windows)-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--List.js (fast search)-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <!--  Own js and css-->
    <link rel="stylesheet" href="{% static 'registers/css/style.css' %}">
    <script type="text/javascript" src="{% static '/registers/js/charts.js' %}"></script>
    <script type="text/javascript" src="{% static '/registers/js/main.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">Treasury Department</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--          # directories-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Directories<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'organizations' %}">Organizations</a></li>
                        <li><a href="{% url 'payment_accounts' %}">Payment accounts</a></li>
                        <li><a href="{% url 'projects' %}">Projects</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'income_items' %}">Income items</a></li>
                        <li><a href="{% url 'expenses_items' %}">Expense items</a></li>
                        <li><a href="{% url 'items' %}">Items (general directory)</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'counterparties' %}">Counterparties</a></li>
                        <li><a href="{% url 'initial_debts' %}">Initial debts</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'currencies' %}">Currencies</a></li>
                        <li><a href="{% url 'rates' %}">Currencies rates</a></li>
                    </ul>
                </li>
                <!--          # fact-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Finance fact<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'receipts' %}">Receipts</a></li>
                        <li><a href="{% url 'payments' %}">Payments</a></li>
                    </ul>
                </li>
                <!--          # planning-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Finance plan <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'receipts_plan' %}">Planned receipts</a></li>
                        <li><a href="{% url 'payments_plan' %}">Payment requests</a></li>
                        <li><a href="{% url 'calculations' %}">Calculations</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'pending' %}">Control of planned receipts</a></li>
                        <li><a href="{% url 'pending' %}">Control of payment requests</a></li>
                    </ul>
                </li>
                <!--          # reports-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'account_balances' %}">Account balances</a></li>
                        <li><a href="{% url 'account_flows' %}">Flow of money in accounts</a></li>
                        <li><a href="{% url 'counterparty_flows' %}">Settlements with counterparties</a></li>
                        <li class="divider"></li>
<!--                    #cf_statement-->
                        <li><a href="{% url 'pending' %}">Cash flow statement</a></li>
<!--                    #cf_budget-->
                        <li><a href="{% url 'pending' %}">Cash flow budget</a></li>
                        <li class="divider"></li>
<!--                    #plan_fact_analysis-->
                        <li><a href="{% url 'pending' %}">Plan-fact analysis</a></li>
                    </ul>
                </li>
                <!--          # dashboards-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboards<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'dashboard' %}">Main dashboard</a></li>
                        <li><a href="{% url 'charts_oper' %}">Operating activities</a></li>
<!--                    #charts_fin-->
                        <li><a href="{% url 'pending' %}">Loans dashboard</a></li>
                        <li><a href="{% url 'pending' %}">Investment</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'settings' %}">Accounting settings</a></li>
            </ul>
            <!--        # user accounts-->
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Personal Area: {{ user.username }}<b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'personal_account' %}">Personal account</a></li>
                        <li><a href="{% url 'password_change' %}">Password change</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'profile_delete' %}">Delete account</a></li>
                    </ul>
                    {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Create profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Sign in</a></li>
                {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>