<table class="table table-condensed table-scroll" id="id_table" >
    <thead>
        <tr>
            <th align="center" width="150">Groups</th>
            <th align="center" width="200">Items</th>
            <th align="center">Jan.23</th>
            <th align="center">Feb.23</th>
            <th align="center">Mar.23</th>
            <th align="center">Apr.23</th>
            <th align="center">May.23</th>
            <th align="center">Jun.23</th>
            <th align="center">Jul.23</th>
            <th align="center">Aug.23</th>
            <th align="center">Sep.23</th>
            <th align="center">Oct.23</th>
            <th align="center">Nov.23</th>
            <th align="center">Dec.23</th>
            <th align="center">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr style="font-weight: bold">
            <td class="bg-success" colspan="15">OPERATING ACTIVITIES</td>
        </tr>
        <tr style="font-weight: bold">
            <td class="bg-info" colspan="15">Cash inflow</td>
        </tr>
        <tr style="font-weight: bold">
            <td class="bg-light" colspan="15">Income</td>
        </tr>
        <tr>
            <td></td>
            <td width="100">Sales</td>
            {% for i in 'abababababaи' %}
                <td width="100" align="right">10000000</td>
            {% endfor %}
            <td width="100" align="right" style="font-weight: bold">1200000</td>
        </tr>
        <tr>
            <td></td>
            <td width="100">Servis</td>
            {% for i in 'abababababaи' %}
                <td width="100" align="right">7000</td>
            {% endfor %}
            <td width="100" align="right" style="font-weight: bold">840000</td>
        </tr>
        <tr style="font-weight: bold">
            <td class="bg-info" colspan="15">Cash outflow</td>
        </tr>
        <tr style="font-weight: bold">
            <td class="bg-light" colspan="15">Direct expenses</td>
        </tr>
        <tr>
            <td></td>
            <td width="100">Fare</td>
            {% for i in 'abababababaи' %}
                <td width="100" align="right">8000</td>
            {% endfor %}
            <td width="100" align="right" style="font-weight: bold">960000</td>
        </tr>
        <tr>
            <td></td>
            <td width="100">Benefits</td>
            {% for i in 'abababababaи' %}
                <td width="100" align="right">5000</td>
            {% endfor %}
            <td width="100" align="right" style="font-weight: bold">60000</td>
        </tr>
    </tbody>
    <tfoot>
    </tfoot>
</table>
