{% extends 'registers/base.html' %}
{% block title %}Financing dashboard{% endblock %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

<script type="text/javascript">
    let  loan_portfolioData = {{ loan_portfolio|safe }};
    let  debit_portfolioData = {{ debit_portfolio|safe }};
    let  lenders_tableData = {{ lenders_table|safe }};
    let  borrowers_tableData = {{ borrowers_table|safe }};
    let  cf_fin_dynamicsData = {{ cf_fin_dynamics|safe }};
</script>

<script type="text/javascript" src="{% static '/registers/js/charts_fin.js' %}"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>


<div class="container-fluid px-10">
    <div class="row fluid">
        <div class="col-md-2 border p-3 shadow">
            <div class="text-center">
                <h2>Credits and loans</h2>
                <h5>{{ today }}</h5>
            </div>
            <br>
            <form method='GET'>
                <div class="col-md-12">
                    {% csrf_token %}
                    <div id="div_id_organization"  class="form-group">
                        {{ form.organization.label_tag }}
                        {% render_field form.organization class="select form-control"  %}
                    </div>
                    <div class="form-group">
                        {{ form.date_start.label_tag }}
                        {% render_field form.date_start class="select form-control" %}
                    </div>
                    <div class="form-group">
                        {{ form.date_end.label_tag }}
                        {% render_field form.date_end class="select form-control" %}
                    </div>
                    <br><button class="btn btn-info" type="submit" name="btn_show">SHOW</button>
                </div>
            </form>
        </div>
        <br>
        <div class="col-md-10 border p-2 shadow">
            <div class="row p-1 g-1">
                <div class="col-md-3 border p-2 shadow">
                    <b>Debit portfolio</b>
                    <hr>
                    <div id="debit_portfolio"></div>
                </div>
                <div class="col-md-6 border p-2 shadow">
                    <b>Dynamics of financing activities</b>
                    <div id="cf_fin_dynamics"></div>
                </div>
                <div class="col-md-3 border p-2 shadow">
                    <b>Loan portfolio</b>
                    <hr>
                    <div id="loan_portfolio"></div>
                </div>
            </div>
            <br><br>
            <div class="row p-1 g-1">
                <div class="col-md-6 border p-2 shadow">
                    <b>Balance sheet of borrowers</b>
                    <hr>
                    <div id="borrowers_table"></div>
                </div>
                <div class="col-md-6 border p-2 shadow">
                    <b>Balance sheet of lenders</b>
                    <hr>
                    <div id="lenders_table"></div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}