{% extends 'registers/base.html' %}
{% block title %}Dashboard{% endblock %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
{% load static %}


<script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(CashFlowDynamics);

    google.charts.load('current', {'packages':['table']});
    google.charts.setOnLoadCallback(TableBalancesAccount);
    google.charts.setOnLoadCallback(TableCashFlow);

    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(CFStructure);




    function CFStructure() {
        var data = google.visualization.arrayToDataTable([
          ['Activities', 'Receipts', 'Payments', 'CF'],
          ['Operating', 1000, 400, 200],
          ['Investment', 1170, 460, 250],
          ['Financing', 660, 1120, -300]
        ]);

        var options = {
          colors: ['#00BFFF', '#2F4F4F', 'FFD700'],
          chart: {
            legend: { position: 'bottom' }
          }
        };

        var chart = new google.charts.Bar(document.getElementById('cf_structure'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }


function CashFlowDynamics() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Period');
        data.addColumn('number', 'Receipts');
        data.addColumn('number', 'Payments');
        data.addColumn('number', 'Cash Flow');
        data.addRows({{ cf_dynamics|safe }});

        var options = {
          height:320,
          vAxis: {title: 'Amount'},
          hAxis: {title: 'Period'},
          colors: ['#00BFFF', '#2F4F4F', 'FFD700'],
          seriesType: 'bars',
          series: {2: {type: 'line'}},
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_cash_flow_dynamics'));
        chart.draw(data, options);
      }


      function TableBalancesAccount() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Account');
        data.addColumn('number', 'Amount');
        data.addColumn('string', 'Currency');
        data.addRows([
          ['UniCreditBank', 100000, 'RUB'],
          ['Pochtobank',  80000, 'USD'],
          ['THSS Sberbank',  5600, 'ILS'],
          ['Sberbank',  50000, 'RUB'],
          ['Safe',  1200000, 'EUR'],
          ['BGagarina cash desk',  50000, 'ILS'],
        ]);

        var table = new google.visualization.Table(document.getElementById('table_balances_account'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }


      function TableCashFlow() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Item');
        data.addColumn('number', 'Operating');
        data.addColumn('number', 'Investment');
        data.addColumn('number', 'Financing');
        data.addColumn('number', 'Total');
<!--        data.addRows({{ cf_table|safe }});-->

        data.addRows([
          ['receipts',  100000, 200000, 300000, 600000],
          ['payments',  80000, 100000, 400000, 580000],
          ['cash flow',  20000, 100000, -100000, 20000],
        ]);

        var table = new google.visualization.Table(document.getElementById('cf_table'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }

</script>


<div class="container-fluid px-10">
    <div class="row fluid">
        <div class="col-md-2 border p-3 shadow">
            <div class="text-center">
                <h2>Main dashboard</h2>
                <h5>{{ today }}</h5>
            </div>
            <br>
            <form method='GET'>
                <div class="col-md-12">
                    {% csrf_token %}
                    <div id="div_id_organization"
                         class="form-group"
                         hx-get="/dashboard/projects"
                         hx-vals="js:{organization:document.getElementById('id_organization').value}"
                         hx-trigger="change"
                         hx-target="#id_project">
                        {{ form.organization.label_tag }}
                        {% render_field form.organization class="select form-control" hx-get="/dashboard/project" hx-trigger="change" hx-target="#id_project" %}
                    </div>
                    <div class="form-group">
                        {{ form.date_start.label_tag }}
                        {% render_field form.date_start class="select form-control" %}
                    </div>
                    <div class="form-group">
                        {{ form.date_end.label_tag }}
                        {% render_field form.date_end class="select form-control" %}
                    </div>
<!--                    <div class="form-group">-->
<!--                    {{ form.conversion_currency.label_tag }}-->
<!--                    {% render_field form.conversion_currency class="select form-control" %}-->
<!--                    </div>-->

                    <br><button class="btn btn-info" type="submit" name="btn_show">SHOW</button>
                </div>
            </form>
        </div>
        <br>
        <div class="col-md-10 border p-2 shadow">
            <div class="row p-1 g-1">
                <div class="col-md-3 border p-2 shadow">
                    <b>Account balances today</b>
                    <hr>
                    <div id="table_balances_account"></div>
                </div>
                <div class="col-md-4 border p-2 shadow">
                    <b>Total Cash flow</b>
                    <hr>
                    <div id="cf_table"></div>
                </div>
                <div class="col-md-5 border p-2 shadow">
                    <b>Cash flow structure</b>
                    <hr>
                    <div id="cf_structure"></div>
                </div>
            </div>
            <div class="row p-1 g-1">
                <div class="col-md-12 border p-2 shadow">
                    <b>Cash flow dynamics</b>
                    <div id="chart_cash_flow_dynamics"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static '/registers/js/dashboard_main.js' %}"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>


{% endblock %}