{% extends 'registers/base.html' %}
{% block title %}Dashboard{% endblock %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
{% load static %}


<script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(CashFlowDynamics);
    google.charts.setOnLoadCallback(CashFlowBar);

    google.charts.load('current', {'packages':['table']});
    google.charts.setOnLoadCallback(TableBalancesAccount);
    google.charts.setOnLoadCallback(TableCashFlow);



function CashFlowBar() {

    var data = new google.visualization.DataTable();
        data.addColumn('string', 'Items');
        data.addColumn('number', 'Amount');
        data.addRows({{ cf_bar|safe }});

    var options = {
       'width':400,
       'height':250,
       colors: ['#FF4500'],
       legend: { position: 'none' }
       };

    var chart = new google.visualization.BarChart(document.getElementById('cf_bar'));
    chart.draw(data, options);
}


function CashFlowDynamics() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Period');
        data.addColumn('number', 'Receipts');
        data.addColumn('number', 'Payments');
        data.addColumn('number', 'Cash Flow');
        data.addRows({{ cf_dynamics|safe }});

        var options = {
          height:280,
          vAxis: {title: 'Amount'},
          hAxis: {title: 'Period'},
          colors: ['#00CED1', '#FF4500', 'FFD700'],
          seriesType: 'bars',
          series: {2: {type: 'line'}},
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_cash_flow_dynamics'));
        chart.draw(data, options);
      }


      function TableBalancesAccount() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Account');
        data.addColumn('number', 'Amount');
        data.addColumn('string', 'Currency');
        data.addRows({{ account_balances|safe }});

        var table = new google.visualization.Table(document.getElementById('table_balances_account'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }


      function TableCashFlow() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Item');
        data.addColumn('number', 'Operating');
        data.addColumn('number', 'Investment');
        data.addColumn('number', 'Financing');
        data.addColumn('number', 'Total');
        data.addRows({{ cf_table|safe }});


        var table = new google.visualization.Table(document.getElementById('cf_table'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }

</script>


<div class="container-fluid px-10">
    <div class="row fluid">
        <div class="col-md-2 border p-3 shadow">
            <div class="text-center">
                <h2>Main dashboard</h2>
                <h5>{{ today }}</h5>
            </div>
            <br>
            <form method='GET'>
                <div class="col-md-12">
                    {% csrf_token %}
                    <div id="div_id_organization"
                         class="form-group"
                         hx-get="/dashboard/projects"
                         hx-vals="js:{organization:document.getElementById('id_organization').value}"
                         hx-trigger="change"
                         hx-target="#id_project">
                        {{ form.organization.label_tag }}
                        {% render_field form.organization class="select form-control" hx-get="/dashboard/project" hx-trigger="change" hx-target="#id_project" %}
                    </div>
                    <div class="form-group">
                        {{ form.date_start.label_tag }}
                        {% render_field form.date_start class="select form-control" %}
                    </div>
                    <div class="form-group">
                        {{ form.date_end.label_tag }}
                        {% render_field form.date_end class="select form-control" %}
                    </div>
<!--                    <div class="form-group">-->
<!--                    {{ form.conversion_currency.label_tag }}-->
<!--                    {% render_field form.conversion_currency class="select form-control" %}-->
<!--                    </div>-->

                    <br><button class="btn btn-info" type="submit" name="btn_show">SHOW</button>
                </div>
            </form>
        </div>
        <br>
        <div class="col-md-10 border p-2 shadow">
            <div class="row p-1 g-1">
                <div class="col-md-3 border p-2 shadow">
                    <b>Account balances today</b>
                    <hr>
                    <div id="table_balances_account"></div>
                </div>
                <div class="col-md-5 border p-2 shadow">
                    <b>Total Cash flow</b>
                    <hr>
                    <div id="cf_table"></div>
                </div>
                <div class="col-md-4 border p-2 shadow">
                    <b>Cash flow bar</b>
                    <div id="cf_bar"></div>
                </div>
            </div>
            <br>
            <div class="row p-1 g-1">
                <div class="col-md-12 border p-2 shadow">
                    <b>Cash flow dynamics</b>
                    <div id="chart_cash_flow_dynamics"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static '/registers/js/dashboard_main.js' %}"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>


{% endblock %}