{% extends 'registers/base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}

<div class="container fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1>Enterprise finance</h1>
            <hr>
        </div>

    </div>


    <div class="row p-2 g-3 h-60">
    <div class="col-md-12">
        <div class="row p-2 g-3">
            <div class="col-md-1"></div>
            <div class="col-md-2"><img src="{% static 'registers/images/3_48x48.png' %}"/></div>
            <div class="col-md-2"><img src="{% static 'registers/images/5_48x48.png' %}"/></div>
            <div class="col-md-2"><img src="{% static 'registers/images/2_48x48.png' %}"/></div>
            <div class="col-md-2"><img src="{% static 'registers/images/1_48x48.png' %}"/></div>
            <div class="col-md-2"><img src="{% static 'registers/images/6_48x48.png' %}"/></div>
        </div>
        <div class="row p-2 g-3">
            <div class="col-md-1"></div>
            <div class="col-md-2 text-left">
                <h3>Transactions</h3>
                <a class="text-decoration-none text-dark" href="{% url 'receipts' %}"><h4>Receipts</h4></a>
                <a class="text-decoration-none text-dark" href="{% url 'payments' %}"><h4>Payments</h4></a>
                <hr>
                <a class="text-decoration-none text-dark" href="{% url 'income_groups' %}"><h4>Income groups</h4></a>
                <a class="text-decoration-none text-dark" href="{% url 'income_items' %}"><h4>Income items</h4></a>
                <a class="text-decoration-none text-dark" href="{% url 'expenses_group' %}"><h4>Expenses groups</h4></a>
                <a class="text-decoration-none text-dark" href="{% url 'expenses_items' %}"><h4>Expenses items</h4></a>

            </div>
            <div class="col-md-2 text-left">
                <h3>Directories</h3>
                <a class="text-decoration-none text-dark" href="{% url 'organizations' %}"><h4>Organizations</h4></a>
                <a class="text-decoration-none text-dark" href="{% url 'payment_accounts' %}"><h4>Payment accounts</h4></a>
                <a class="text-decoration-none text-dark" href="{% url 'projects' %}"><h4>Projects</h4></a>
                <hr>
                <a class="text-decoration-none text-dark" href="{% url 'counterparties' %}"><h4>Counterparties</h4></a>
                <a class="text-decoration-none text-dark" href="{% url 'initial_debts' %}"><h4>Initial debts</h4></a>
                <hr>
                <a class="text-decoration-none text-dark" href="{% url 'currencies' %}"><h4>Currencies</h4></a>
                <a class="text-decoration-none text-dark" href="{% url 'rates' %}"><h4>Currency rates</h4></a>
                <hr>
                <a class="text-decoration-none text-dark" href="{% url 'settings' %}"><h4>Accounting settings</h4></a>
            </div>
            <div class="col-md-2 text-left">
                <h3>Finance plan</h3>
                <a class="text-decoration-none text-dark" href="{% url 'receipts_plan' %}"><h4>Planned receipts</h4></a>
                <a class="text-decoration-none text-dark" href="#"><h4>Control of planned receipts</h4></a>
                <hr>
                <a class="text-decoration-none text-dark" href="{% url 'payments_plan' %}"><h4>Payment requests</h4></a>
                <a class="text-decoration-none text-dark" href="#"><h4>Control of payment requests</h4></a>

            </div>
            <div class="col-md-2 text-left">
                <h3>Reports</h3>
                <a class="text-decoration-none text-dark" href="{% url 'account_balances' %}"><h4>Account balances</h4></a>
                <a class="text-decoration-none text-dark" href="{% url 'cf_statement' %}"><h4>Cash flow statement</h4></a>
                <a class="text-decoration-none text-dark" href="{% url 'cf_budget' %}"><h4>Cash flow budget</h4></a>
                <a class="text-decoration-none text-dark" href="{% url 'plan_fact_analysis' %}"><h4>Plan-fact analyses</h4></a>
            </div>
            <div class="col-md-3 text-left">
                <h3>Dashboards</h3>
                <a class="text-decoration-none text-dark" href="{% url 'dashboard' %}"><h4>Main dashboard</h4></a>
                <a class="text-decoration-none text-dark" href="{% url 'charts_oper' %}"><h4>Operating activities</h4></a>
                <a class="text-decoration-none text-dark" href="{% url 'charts_fin' %}"><h4>Loans dashboard</h4></a>
                <a class="text-decoration-none text-dark" href="{% url 'charts_invest' %}"><h4>Investment</h4></a>
            </div>
        </div>
    </div>
</div>


{% endblock %}