{% extends 'registers/base.html' %}
{% block title %}Settings{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 border p-2 shadow">
            <form  method='POST'>
                <div class="row p-2 g-3">
                    <div class="col-md-10">
                        <h2>Set Accounting Settings</h2>
                        <br>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <button class="btn btn-info" type="submit" name="btn_add">SAVE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
