{% extends 'registers/base.html' %}
{% block title %}Entry{% endblock %}
{% load static %}
{% block content %}

<div class="container fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1>Welcome to the Treasury Department</h1>
            <br>
            <hr>
            <h2>To continue, сreate a new account or login</h2>
            <a href="{% url 'register' %}" class="btn btn-info btn-lg" name="btn_add">SING IN</a>
            <a href="{% url 'login' %}" class="btn btn-info btn-lg" name="btn_in">LOGIN</a>
            <br>
            <hr>
            <br>
            <h5>* You also can familiarize yourself with the program's capabilities in a demo account:</h5>
            <h5>Log in using your login "demo", password "demo12345"</h5>
            <h5>You can change, add and delete data without restrictions. But your changes will not be saved.</h5>
        </div>
    </div>
</div>


{% endblock %}