{% extends 'registers/base.html' %}
{% block title %}Entry{% endblock %}
{% load static %}
{% block content %}

<div class="container fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <br>
            <br>
            <br>
            <h3>Page under development...</h3>
            <br>
            <hr>
        </div>
    </div>
</div>


{% endblock %}