{% extends 'registers/base.html' %}
{% block title %}Income group{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}


<div class="container">
    <div class="row d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="col-md-12"></div>
        <div class="col-md-10">
            <H1>Income groups</H1>
        </div>
        <div class="col-md-2">
            <a href="{% url 'income_group_add' %}" class="btn btn-info" name="btn_add">ADD NEW</a>
        </div>
    </div>
    <br>
        <div class="row p-2 g-3">
            <div class="table-responsive" style="height: 550px">
                <table class="table table-sm table-scroll table-striped table-bordered" >
                    <tr>
                        <th align="center">Type of cash flow</th>
                        <th align="center">Income groups</th>
                        <th align="center">Comments</th>
                        <th align="center"></th>
                    </tr>
                    {% for i in income_groups %}
                    <tr>
                        <td width="200">{{i.type_cf}}</td>
                        <td width="200">{{i.income_group}}</td>
                        <td width="200">{% if i.comments != None %}{{i.comments}}{% endif %}</td>
                        <td width="10" align="center">
                        <a href="{% url 'income_group_id' i.id %}" class='btn btn-info btn-xs'><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'income_group_delete' i.id %}" class='btn btn-info btn-xs'><i class="bi bi-trash3"></i></a>
                    </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}



