{% extends 'registers/base.html' %}
{% block title %}Receipts{% endblock %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}

<div class="container-fluid px-10">
    <div class="row">
        <div class="col-md-2 border p-2 shadow">
            <form action="" method="GET"
                hx-get="/receipts/list"
                hx-vals="js:{organization:document.getElementById('id_organization').value,
                account:document.getElementById('id_account').value}"
                hx-trigger="change"
                hx-target="#id_table">
                <h2>Receipts: filters</h2>
                {% csrf_token %}
                <div class="form-group">
                {{ form.organization.label_tag }}
                {% render_field form.organization class="select form-control" %}
                </div>
                <div class="form-group">
                {{ form.account.label_tag }}
                {% render_field form.account class="select form-control" %}
                </div>
                <div class="form-group">
                {{ form.counterparty.label_tag }}
                {% render_field form.counterparty class="select form-control" %}
                </div>
                <div class="form-group">
                {{ form.item.label_tag }}
                {% render_field form.item class="select form-control" %}
                </div>
                <div class="form-group">
                {{ form.project.label_tag }}
                {% render_field form.project class="select form-control" %}
                </div>
                <div class="form-group">
                {{ form.date.label_tag }}
                {% render_field form.date class="select form-control" %}
                </div>
                <div class="form-group">
                {{ form.date_end.label_tag }}
                {% render_field form.date_end class="select form-control" %}
                </div>
                <button class="btn btn-info" type="reset" name="btn_reset">RESET FILTERS</button>
            </form>
        </div>
        <div class="col-md-10 border p-2 shadow">
            <div class="row d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="col-md-10"></div>
                <div class="col-md-1">
                    <a href="{% url 'receipts_add' %}" class="btn btn-info" name="btn_add">ADD NEW ENTRY</a>
                </div>
            </div>
            <br>
            <div class="table-responsive" style="height: 500px">
                <table class="table table-sm table-scroll table-striped" id="id_table" >
                    <tr>
                        <th align="center">organization</th>
                        <th align="center">account</th>
                        <th align="center">date</th>
                        <th align="center">amount</th>
                        <th align="center">currency</th>
                        <th align="center">counterparty</th>
                        <th align="center">item</th>
                        <th align="center">project</th>
                        <th align="center">comments</th>
                        <th align="center">Edit</th>
                        <th align="center">Del</th>
                    </tr>
                    {% for i in receipts %}
                    <tr>
                        <td width="50">{{i.organization}}</td>
                        <td width="100">{{i.account}}</td>
                        <td width="50">{{i.date|date:"d.m.Y"}}</td>
                        <td width="50">{{i.amount}}</td>
                        <td width="50">{{i.currency}}</td>
                        <td width="200">{{i.counterparty}}</td>
                        <td width="200">{{i.item}}</td>
                        {% if i.project != None %}
                        <td width="100">{{ i.project }}</td>
                        {% else %}
                        <td width="100">{{ '' }}</td>
                        {% endif %}
                        <td width="200">{{i.comments}}</td>
                        <td width="10" align="center"><a href="{% url 'receipts_id' i.id %}" class='btn btn-info btn-sm'>
                            <i class="bi bi-brush-fill"></i></a></td>
                        <td width="10" align="center"><a href="{% url 'receipts_delete' i.id %}" class='btn btn-info btn-sm'>
                            <i class="bi bi-basket2-fill"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
